## List of variables

base --> name of the zip file to open

datenumber --> date of logfile (datetime object)

file_to_open -- > name of the most recentrly file (.log)

df -- > logfile (.log) in data frame

df2 --> lasercfg file in data frame

df3 -->  sysconfiginfo file in data frame

last_fluence --> data frame with fluence made on the logfile date

values_last_fluence --> data frame with last fluence values

valueslastfluence["High Fluence"] --> High Fluence value

valueslastfluence["Low Fluence"] --> Low Fluence value

valueslastfluence["HV"] --> HV value

valueslastfluence["High Energy"] --> High Energy value

valueslastfluence["Low Energy"] --> Low Energy value

valueslastfluence["HV min"] --> HV minimun value

valueslastfluence["HV max"] --> HV maximun value

valueslastfluence["Temp"] --> Temperature value

serial_number -- > Amaris serial number value

client_name -- > client name information

client_address -- > client addres infomation 

client_town  --> client town information

client_country  --> client coutry information

client_phone --> client phone information

client_email  --> client email information

pulsecounter --> number of pulses

num_remain_gas -- > number of gas exchange remain 

application_sw -- > application software version

cam_sw --> cam software version

## OPEN THE LOGFILE

In [1]:
#with this procedure i am opening a dialog box in order to grab the path of the file
from tkinter.filedialog import askopenfilename
import os

In [2]:
#this will be the FULL PATH of the zip file
filename = askopenfilename(filetypes =[("todos", "*.*")])

In [3]:
filename

'/home/andres/Documents/python_projects/schwind_logfile_reader/Log_R444_2020-05-20.zip'

In [4]:
#this is the file name WITHOUT the path
base=os.path.basename(filename)

In [5]:
base

'Log_R444_2020-05-20.zip'

## Extract all files from logfile zip file

In [6]:
#Import libraries to unzip the logfile
from zipfile import ZipFile

In [7]:
#the zip file will be in ZIP variable
zip=ZipFile(base)

In [8]:
#UNZIP the file
zip.extractall()

In [9]:
zip.close()

## Read all the files unziped

In [10]:
import os

In [11]:
files = os.listdir()

In [12]:
#list of all files in the directory
files

['SysConfigInfo',
 'ServiceActivity.log',
 'laser.slb',
 'CAMerrorLog.dat',
 '.ipynb_checkpoints',
 '2020-05-19__20-39-31.log',
 'ssw.slb',
 '.gitignore',
 '.git',
 'Mcu_boottime',
 'laser.cfg',
 'Mcu_logs',
 'logfile_separadores.py',
 'logfile_notebook.ipynb',
 'LogEx',
 'Hdspace',
 'Nozzle',
 'schwind_logfile_reader.py',
 '2020-05-20__04-55-56.log',
 'SpotAtLastDriftTest.bmp',
 'Log_R444_2020-05-20.zip',
 'Users',
 'CrdStatus',
 'README.md',
 'system.sys',
 'confs']

## Grabing the file name from the original logfile 
in this procedure we need to find the file.LOG with the right date.
the right day is always in the ORIGINAL name of the ZIP file taken from the Amaris System.
so, we are taking the number and we will find the file in the unziped list

In [13]:
#This is the filename without te extension
logfile_name=os.path.splitext(base)

In [14]:
logfilename=logfile_name[0]

In [15]:
logfilename

'Log_R444_2020-05-20'

In [16]:
# Import Regular expressions to find the pathern of the DATE
import re

In [234]:
#re.search("([0-9]{2}\-[0-9]{2}\-[0-9]{4})", fileName)
date_number = re.search("([0-9]{4}\-[0-9]{2}\-[0-9]{2})", logfilename)

In [235]:
date_number[0]

'2020-05-20'

In [236]:
# In this code i am looking in the list of unziped files and finding the right file
# with the LOG extension
file_to_open = next((s for s in files if date_number[0] in s),None)

In [237]:
file_to_open

'2020-05-20__04-55-56.log'

In [238]:
#converting date_number to DATETIME dataframe
datenumber= pd.to_datetime(date_number[0])

## Opening the file to analyse in PANDAS

In [21]:
import pandas as pd

In [22]:
import csv

In [239]:
#logfile_csv = pd.read_csv(file_to_open, delimiter="|", header=0 , names =[1,2,3,4,5,6], encoding="ISO-8859-1")
#logfile_csv = pd.read_csv(file_to_open, delimiter="|", names = [1,2,3,4,5,6], encoding="ISO-8859-1")
df = pd.read_csv(file_to_open, delimiter="|", names = ["time",2,3,4,5,6], encoding="ISO-8859-1")

In [240]:
df.drop(df.head(1).index, inplace=True)

In [241]:
df.drop(df.tail(1).index, inplace=True)

In [242]:
# split date and hour in two new columns 

# new data frame with split value columns 
#new = data["Name"].str.split(" ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
#data["First Name"]= new[0] 
  
# making separate last name column from new data frame 
#data["Last Name"]= new[1] 

new = df["time"].str.split("__", n = 1, expand = True)

In [243]:
#adding those two new columns in dataframe and strip blank spaces
df["date"]=new[0].str.strip()
df["hour"]=new[1].str.strip()

In [244]:
#converting date colum in DATETIME data type
df["date"]=pd.to_datetime(df.date)

## LAST FLUENCE

In [245]:
#code for fluence is 2116-042, so I looked the rows with this value on column 2
#df.loc[df['column_name'] == some_value]
#date_number is the date of the current logfile

#last_fluence = df.loc[(df[2]=="2116-042")&(df["date"]>=date_number[0])]
last_fluence = df.loc[(df[2]=="2116-042")&(df["date"]>=datenumber)]

In [246]:
last_fluence

,time,2,3,4,5,6,date,hour
4460,2020-05-20__03-39-18.421,2116-042,,APP,Fluence values: High Fluence: 654 Low Fluen...,NaN,2020-05-20,03-39-18.421
4531,2020-05-20__03-45-20.312,2116-042,,APP,Fluence values: High Fluence: 655 Low Fluen...,NaN,2020-05-20,03-45-20.312
4656,2020-05-20__04-03-12.562,2116-042,,APP,Fluence values: High Fluence: 649 Low Fluen...,NaN,2020-05-20,04-03-12.562

In [247]:
#the column 5 is where all the fluence values are.
last_fluence[5]

4460     Fluence values: High Fluence: 654   Low Fluen...
4531     Fluence values: High Fluence: 655   Low Fluen...
4656     Fluence values: High Fluence: 649   Low Fluen...
Name: 5, dtype: object

In [248]:
#In this step, I split the column 5 in order to have every value in its own column
values_last_fluence = last_fluence[5].str.split("   ", n = 0, expand = True)

In [249]:
#removing "Fluence values: " string from the column 0 - in order to clean the data
#removing strings before the values on each column
values_last_fluence[0] = values_last_fluence[0].str.replace("Fluence values: High Fluence: ","")
values_last_fluence[1] = values_last_fluence[1].str.replace("Low Fluence: ","")
values_last_fluence[2] = values_last_fluence[2].str.replace("HV: ", "")
values_last_fluence[3] = values_last_fluence[3].str.replace("NominalHF: ", "")
values_last_fluence[4] = values_last_fluence[4].str.replace("NominalLF: ", "")
values_last_fluence[5] = values_last_fluence[5].str.replace("E_preset_HI : ", "")
values_last_fluence[6] = values_last_fluence[6].str.replace("E_preset_LO : ", "")
values_last_fluence[7] = values_last_fluence[7].str.replace("HV_min:  ", "")
values_last_fluence[8] = values_last_fluence[8].str.replace("HV_max:  ", "")
values_last_fluence[9] = values_last_fluence[9].str.replace("LaserTemperature: ", "")

In [250]:
#rename the column name
values_last_fluence.columns=["High Fluence", "Low Fluence", "HV", "Nominal HF", "Nominal LF", "High Energy", "Low Energy", "HV min", "HV max", "Temp"]

In [251]:
#last fluence value
values_last_fluence.tail(1)

,High Fluence,Low Fluence,HV,Nominal HF,Nominal LF,High Energy,Low Energy,HV min,HV max,Temp
4656,649,582,843,673,558,290,280,801,860,39

In [289]:
valueslastfluence=values_last_fluence.tail(1)

In [291]:
valueslastfluence["High Fluence"]

4656     649
Name: High Fluence, dtype: object

## LAST PULSES AND TEMPERATURE

In [252]:
#I search for the string "  Temp.  ", where the value of the pulse is. 
#and with the "date" iqual or grater that the current date.

#pulses_temp = df.loc[(df[2]=="  Temp. ")&(df["date"]>=date_number[0])]
pulses_temp = df.loc[(df[2]=="  Temp. ")&(df["date"]>=datenumber)]

In [253]:
#In this step, I split the column 5 in order to have every value in its own column
values_pulses_temp = pulses_temp[5].str.split("  ", n = 0, expand = True)

In [254]:
#removing values in order to clean the data
#rename each column to identify values

values_pulses_temp[1] = values_pulses_temp[1].str.replace("MCU CPU:","")
values_pulses_temp[2] = values_pulses_temp[2].str.replace("Mainboard:","")
values_pulses_temp[3] = values_pulses_temp[3].str.replace("Chipset:","")
values_pulses_temp[4] = values_pulses_temp[4].str.replace("LACU:","")
values_pulses_temp[5] = values_pulses_temp[5].str.replace("Humidity\%:","")
values_pulses_temp[6] = values_pulses_temp[6].str.replace("Pulsecounter:","")


values_pulses_temp.columns=["", "mcu_temp", "mainboard_temp", "chipset_temp", "lacu_temp", "humidity", "pulsecounter"]

In [255]:
#las values of temp humidity and pulsecounter
values_pulses_temp.tail(1)

,,mcu_temp,mainboard_temp,chipset_temp,lacu_temp,humidity,pulsecounter
4633,Temperature,0,0,0,18,53,292133845

## LASER SERIAL NUMBER

In [256]:
#Searching the string "2102-021" wich is the code where the laser serial number and software version is located
#serial_version = df.loc[(df[2]=="2102-021")&(df["date"]>=date_number[0])]
serial_version = df.loc[(df[2]=="2102-021")&(df["date"]>=datenumber)]

In [257]:
#In this step, I split the column 5 in order to have every value in its own column
values_serial_version = serial_version[5].str.split("   ", n = 0, expand = True)

In [258]:
values_serial_version

,0,1,2,3
412,LOGIN Application Software,Version:6.1.2117.702,User:SETS,System Serial (ini):R444
4488,LOGIN Application Software,Version:6.1.2117.702,User:SETS,System Serial (ini):R444
4569,LOGIN Application Software,Version:6.1.2117.702,User:SETS,System Serial (ini):R444
4613,LOGIN Application Software,Version:6.1.2117.702,User:SETS,System Serial (ini):R444

In [259]:
#removing values in order to clean the data
#rename each column to identify values
values_serial_version[1] = values_serial_version[1].str.replace("Version:","")
values_serial_version[3] = values_serial_version[3].str.replace("System Serial \(ini\):","")
values_serial_version.columns=["", "version", "", "serial"]

In [260]:
values_serial_version.tail(1)

                                        version            serial
4613   LOGIN Application Software  6.1.2117.702  User:SETS   R444

## Gas Exchage

In [261]:
#searching for the string "2115-012" where gas exchange is located
#gas = df.loc[(df[2]=="2115-012")&(df["date"]>=date_number[0])]
gas = df.loc[(df[2]=="2115-012")&(df["date"]>=datenumber)]

In [262]:
if (gas.empty):
    print("no hay dato")
else:
    print (gas)

no hay dato

# Opening a new data frame from lasercfg file

## Getting the laser serial number

In [263]:
# openning new file laser.cfg and transforming it to DATAFRAME df2
laser_cfg_file_to_open = "laser.cfg"
df2 = pd.read_csv(laser_cfg_file_to_open, header=None)

In [264]:
# find the row with string SerialNumber in order to get the serial number
serial_number_row = df2[df2[0].str.contains("SerialNumber")]

In [265]:
serial_number = serial_number_row[0].str.replace("SerialNumber=","")

In [266]:
serial_number

1    R444
Name: 0, dtype: object

## Getting the customer information

In [267]:
#find the location index where the name Clinic is located
customer_row = df2[df2[0].str.contains("Clinic")].index.values

In [294]:
#If I know the index of Clinic, I can sum +1 then I can find the customer's name
client_name = df2.iloc[customer_row[0]+1].str.replace("Name=","")

#If I sum +2 to index where Clinic is located, I can find customer's street
client_address = df2.iloc[customer_row[0]+2].str.replace("Street=","")

#If I sum +3 to index where Clinic is located, I can find customer's Town
client_town = df2.iloc[customer_row[0]+3].str.replace("Town=","")

#If I sum +4 to index where Clinic is located, I can find customer's Country
client_country = df2.iloc[customer_row[0]+4].str.replace("Country=","")

#If I sum +5 to index where Clinic is located, I can find customer's Phone
client_phone = df2.iloc[customer_row[0]+5].str.replace("Phone=","")

#If I sum +7 to index where Clinic is located, I can find customer's Email
client_email = df2.iloc[customer_row[0]+7].str.replace("Email=","")

## Pulse counter from lasercfg file

In [295]:
# find the row with string Pulsecounter in order to get the laser's pulses
pulsecounter_row = df2[df2[0].str.contains("Pulsecounter")]

In [296]:
pulsecounter = pulsecounter_row[0].str.replace("Pulsecounter=","")

In [297]:
pulsecounter

118    292496361
Name: 0, dtype: object

## Num of gas remain gas exchanges

In [298]:
# find the row with string NoOfRemainingGasExchangesApprox in order to get the laser's gas exchange left
remaingas_row = df2[df2[0].str.contains("NoOfRemainingGasExchangesApprox")]
num_remain_gas = remaingas_row[0].str.replace("NoOfRemainingGasExchangesApprox=","")

In [300]:
num_remain_gas

117    33
Name: 0, dtype: object

# Reading SysConfigInfo

## Getting application software version

In [274]:
Sysconfiginfo_file_to_open = "SysConfigInfo"

In [275]:
df3 = pd.read_csv(Sysconfiginfo_file_to_open, header=None, usecols=[0], encoding="ISO-8859-1")

In [276]:
# find the row with string Application in order to get the laser's Application software version
app_sw_row = df3[df3[0].str.contains("Application")]

In [277]:
application_sw = app_sw_row[0].str.replace("Application_SW:   ","")

In [278]:
application_sw

4    6.1.2117.702
Name: 0, dtype: object

## Getting CAM software version

In [279]:
# find the row with string CAMinternal in order to get the laser's Application software version
cam_sw_row = df3[df3[0].str.contains("CAMinternal")]

In [280]:
cam_sw = cam_sw_row[0].str.replace("CAMinternal_SW:   ","")

In [281]:
cam_sw

5    5.2.23.1703
Name: 0, dtype: object

# Reading ServiceActivity.log

In [303]:
serviceactivitylog_to_open = "ServiceActivity.log"

In [311]:
df4 = pd.read_csv(serviceactivitylog_to_open, delimiter="|", header=None)

In [313]:
new_2 = df4[0].str.split("__", n = 1, expand = True)

In [317]:
#adding those two new columns in dataframe and strip blank spaces
df4["date"]=new_2[0].str.strip()
df4["hour"]=new_2[1].str.strip()

In [319]:
#converting date colum in DATETIME data type
df4["date"]=pd.to_datetime(df4.date)