## List of variables

base --> name of the zip file to open

datenumber --> date of logfile (datetime object)

file_to_open -- > name of the most recentrly file (.log)

df -- > logfile (.log) in data frame

df2 --> lasercfg file in data frame

df3 -->  sysconfiginfo file in data frame

df4 --> ServiceActivity file in data frame

last_fluence --> data frame with fluence made on the logfile date

values_last_fluence --> data frame with last fluence values

valueslastfluence["High Fluence"] --> High Fluence value

valueslastfluence["Low Fluence"] --> Low Fluence value

valueslastfluence["HV"] --> HV value

valueslastfluence["High Energy"] --> High Energy value

valueslastfluence["Low Energy"] --> Low Energy value

valueslastfluence["HV min"] --> HV minimun value

valueslastfluence["HV max"] --> HV maximun value

valueslastfluence["Temp"] --> Temperature value

serial_number -- > Amaris serial number value

client_name -- > client name information

client_address -- > client addres infomation 

client_town  --> client town information

client_country  --> client coutry information

client_phone --> client phone information

client_email  --> client email information

pulsecounter --> number of pulses

num_remain_gas -- > number of gas exchange remain 

application_sw -- > application software version

cam_sw --> cam software version

## OPEN THE LOGFILE

In [191]:
#with this procedure i am opening a dialog box in order to grab the path of the file
from tkinter.filedialog import askopenfilename
import os

In [192]:
#this will be the FULL PATH of the zip file
filename = askopenfilename(filetypes =[("todos", "*.*")])

In [193]:
filename

'/home/andres/Documents/python_projects/schwind_logfile_reader/Log_R444_2020-05-20.zip'

In [194]:
#this is the file name WITHOUT the path
base=os.path.basename(filename)

In [195]:
base

'Log_R444_2020-05-20.zip'

## Extract all files from logfile zip file

In [196]:
#Import libraries to unzip the logfile
from zipfile import ZipFile

In [197]:
#the zip file will be in ZIP variable
zip=ZipFile(base)

In [198]:
#UNZIP the file
zip.extractall()

In [199]:
zip.close()

## Read all the files unziped

In [200]:
import os
import pandas as pd

In [201]:
files = os.listdir()

In [202]:
#list of all files in the directory
files

['SysConfigInfo',
 'ServiceActivity.log',
 'laser.slb',
 'CAMerrorLog.dat',
 '.ipynb_checkpoints',
 '2020-05-19__20-39-31.log',
 'ssw.slb',
 '.gitignore',
 '.git',
 'Mcu_boottime',
 'laser.cfg',
 'Mcu_logs',
 'logfile_separadores.py',
 'logfile_notebook.ipynb',
 'LogEx',
 'Hdspace',
 'Nozzle',
 'schwind_logfile_reader.py',
 '2020-05-20__04-55-56.log',
 'SpotAtLastDriftTest.bmp',
 'Log_R444_2020-05-20.zip',
 'Users',
 'CrdStatus',
 'README.md',
 'system.sys',
 'confs']

## Grabing the file name from the original logfile 
in this procedure we need to find the file.LOG with the right date.
the right day is always in the ORIGINAL name of the ZIP file taken from the Amaris System.
so, we are taking the number and we will find the file in the unziped list

In [203]:
#This is the filename without te extension
logfile_name=os.path.splitext(base)

In [204]:
logfilename=logfile_name[0]

In [205]:
logfilename

'Log_R444_2020-05-20'

In [206]:
# Import Regular expressions to find the pathern of the DATE
import re

In [207]:
#re.search("([0-9]{2}\-[0-9]{2}\-[0-9]{4})", fileName)
date_number = re.search("([0-9]{4}\-[0-9]{2}\-[0-9]{2})", logfilename)

In [208]:
date_number[0]

'2020-05-20'

In [209]:
# In this code i am looking in the list of unziped files and finding the right file
# with the LOG extension
file_to_open = next((s for s in files if date_number[0] in s),None)

In [210]:
file_to_open

'2020-05-20__04-55-56.log'

In [211]:
#converting date_number to DATETIME dataframe
datenumber= pd.to_datetime(date_number[0])

## Opening the file to analyse in PANDAS

In [212]:
import csv

In [213]:
#logfile_csv = pd.read_csv(file_to_open, delimiter="|", header=0 , names =[1,2,3,4,5,6], encoding="ISO-8859-1")
#logfile_csv = pd.read_csv(file_to_open, delimiter="|", names = [1,2,3,4,5,6], encoding="ISO-8859-1")
df = pd.read_csv(file_to_open, delimiter="|", names = ["date",2,3,4,5,6], encoding="ISO-8859-1")

In [214]:
df.drop(df.head(1).index, inplace=True)

In [215]:
df.drop(df.tail(1).index, inplace=True)

In [216]:
df

,date,2,3,4,5,6
1,2020-05-19__20-39-35.140,,,APP,START=APP-SESSION============================...,NaN
2,2020-05-19__20-39-47.421,2102-021,,APP,LOGIN Application Software Version:6.1.2117...,NaN
3,2020-05-19__20-39-47.421,,,APP,"LaserHz TrtLF,TrtHF,FtLF,FtHF: 1050,900,900,900",NaN
4,2020-05-19__20-39-50.640,,,APP,MCU is now online but still inside starting u...,NaN
5,2020-05-19__20-39-51.046,,,APP,Startup: (70) Checking components,NaN
...,...,...,...,...,...,...
5241,2020-05-20__04-54-27.437,2103-067,,APP,END#TREAT_finished###########################...,NaN
5242,2020-05-20__04-54-28.671,,,APP,Pulsecounter:292496361,NaN
5243,2020-05-20__04-54-29.781,,,APP,#### Entering Mainmenu ######################...,NaN
5244,2020-05-20__04-55-38.515,,,APP,"Menu ""Functions""",NaN
5245,2020-05-20__04-55-39.609,,,APP,"Menu ""Export Logfiles""",NaN

In [217]:
#converting date colum in DATETIME data type
df["date"]=pd.to_datetime(df.date, format= "%Y-%m-%d__%H-%M-%S.%f ")

## LAST FLUENCE

In [218]:
#code for fluence is 2116-042, so I looked the rows with this value on column 2
#df.loc[df['column_name'] == some_value]
#date_number is the date of the current logfile

#last_fluence = df.loc[(df[2]=="2116-042")&(df["date"]>=date_number[0])]
last_fluence = df.loc[(df[2]=="2116-042")&(df["date"]>=datenumber)]

In [219]:
last_fluence

,date,2,3,4,5,6
4460,2020-05-20 03:39:18.421,2116-042,,APP,Fluence values: High Fluence: 654 Low Fluen...,NaN
4531,2020-05-20 03:45:20.312,2116-042,,APP,Fluence values: High Fluence: 655 Low Fluen...,NaN
4656,2020-05-20 04:03:12.562,2116-042,,APP,Fluence values: High Fluence: 649 Low Fluen...,NaN

In [220]:
#the column 5 is where all the fluence values are.
last_fluence[5]

4460     Fluence values: High Fluence: 654   Low Fluen...
4531     Fluence values: High Fluence: 655   Low Fluen...
4656     Fluence values: High Fluence: 649   Low Fluen...
Name: 5, dtype: object

In [221]:
#In this step, I split the column 5 in order to have every value in its own column
values_last_fluence = last_fluence[5].str.split("   ", n = 0, expand = True)

In [222]:
#removing "Fluence values: " string from the column 0 - in order to clean the data
#removing strings before the values on each column
values_last_fluence[0] = values_last_fluence[0].str.replace("Fluence values: High Fluence: ","")
values_last_fluence[1] = values_last_fluence[1].str.replace("Low Fluence: ","")
values_last_fluence[2] = values_last_fluence[2].str.replace("HV: ", "")
values_last_fluence[3] = values_last_fluence[3].str.replace("NominalHF: ", "")
values_last_fluence[4] = values_last_fluence[4].str.replace("NominalLF: ", "")
values_last_fluence[5] = values_last_fluence[5].str.replace("E_preset_HI : ", "")
values_last_fluence[6] = values_last_fluence[6].str.replace("E_preset_LO : ", "")
values_last_fluence[7] = values_last_fluence[7].str.replace("HV_min:  ", "")
values_last_fluence[8] = values_last_fluence[8].str.replace("HV_max:  ", "")
values_last_fluence[9] = values_last_fluence[9].str.replace("LaserTemperature: ", "")

In [223]:
#rename the column name
values_last_fluence.columns=["High Fluence", "Low Fluence", "HV", "Nominal HF", "Nominal LF", "High Energy", "Low Energy", "HV min", "HV max", "Temp"]

In [224]:
#last fluence value
values_last_fluence.tail(1)

,High Fluence,Low Fluence,HV,Nominal HF,Nominal LF,High Energy,Low Energy,HV min,HV max,Temp
4656,649,582,843,673,558,290,280,801,860,39

In [225]:
valueslastfluence=values_last_fluence.tail(1)

In [226]:
valueslastfluence["High Fluence"]

4656     649
Name: High Fluence, dtype: object

## Gas Exchage

In [227]:
#searching for the string "2115-012" where gas exchange is located
#gas = df.loc[(df[2]=="2115-012")&(df["date"]>=date_number[0])]
gas = df.loc[(df[2]=="2115-012")&(df["date"]>=datenumber)]

In [228]:
if (gas.empty):
    print("no hay dato")
else:
    print (gas)

no hay dato

# Opening a new data frame from lasercfg file

## Getting the laser serial number

In [229]:
# openning new file laser.cfg and transforming it to DATAFRAME df2
laser_cfg_file_to_open = "laser.cfg"
df2 = pd.read_csv(laser_cfg_file_to_open, header=None)

In [230]:
# find the row with string SerialNumber in order to get the serial number
serial_number_row = df2[df2[0].str.contains("SerialNumber")]

In [231]:
serial_number = serial_number_row[0].str.replace("SerialNumber=","")

In [232]:
serial_number

1    R444
Name: 0, dtype: object

## Getting the customer information

In [233]:
#find the location index where the name Clinic is located
customer_row = df2[df2[0].str.contains("Clinic")].index.values

In [234]:
#If I know the index of Clinic, I can sum +1 then I can find the customer's name
client_name = df2.iloc[customer_row[0]+1].str.replace("Name=","")

#If I sum +2 to index where Clinic is located, I can find customer's street
client_address = df2.iloc[customer_row[0]+2].str.replace("Street=","")

#If I sum +3 to index where Clinic is located, I can find customer's Town
client_town = df2.iloc[customer_row[0]+3].str.replace("Town=","")

#If I sum +4 to index where Clinic is located, I can find customer's Country
client_country = df2.iloc[customer_row[0]+4].str.replace("Country=","")

#If I sum +5 to index where Clinic is located, I can find customer's Phone
client_phone = df2.iloc[customer_row[0]+5].str.replace("Phone=","")

#If I sum +7 to index where Clinic is located, I can find customer's Email
client_email = df2.iloc[customer_row[0]+7].str.replace("Email=","")

## Pulse counter from lasercfg file

In [235]:
# find the row with string Pulsecounter in order to get the laser's pulses
pulsecounter_row = df2[df2[0].str.contains("Pulsecounter")]

In [236]:
pulsecounter = pulsecounter_row[0].str.replace("Pulsecounter=","")

In [237]:
pulsecounter

118    292496361
Name: 0, dtype: object

## Num of gas remain gas exchanges

In [238]:
# find the row with string NoOfRemainingGasExchangesApprox in order to get the laser's gas exchange left
remaingas_row = df2[df2[0].str.contains("NoOfRemainingGasExchangesApprox")]
num_remain_gas = remaingas_row[0].str.replace("NoOfRemainingGasExchangesApprox=","")

In [239]:
num_remain_gas

117    33
Name: 0, dtype: object

# Reading SysConfigInfo

## Getting application software version

In [240]:
Sysconfiginfo_file_to_open = "SysConfigInfo"

In [241]:
df3 = pd.read_csv(Sysconfiginfo_file_to_open, header=None, usecols=[0], encoding="ISO-8859-1")

In [242]:
# find the row with string Application in order to get the laser's Application software version
app_sw_row = df3[df3[0].str.contains("Application")]

In [243]:
application_sw = app_sw_row[0].str.replace("Application_SW:   ","")

In [244]:
application_sw

4    6.1.2117.702
Name: 0, dtype: object

## Getting CAM software version

In [245]:
# find the row with string CAMinternal in order to get the laser's Application software version
cam_sw_row = df3[df3[0].str.contains("CAMinternal")]

In [246]:
cam_sw = cam_sw_row[0].str.replace("CAMinternal_SW:   ","")

In [247]:
cam_sw

5    5.2.23.1703
Name: 0, dtype: object

# Reading ServiceActivity.log

In [329]:
serviceactivitylog_to_open = "ServiceActivity.log"

In [330]:
df4 = pd.read_csv(serviceactivitylog_to_open, delimiter="|", names = ["date",1,2,3,4], header=None)

In [331]:
df4["date"]=pd.to_datetime(df4["date"], format= "%Y-%m-%d__%H-%M-%S.%f ")

In [270]:
#df4.set_index("date", inplace=True)

In [332]:
df4

,date,1,2,3,4
0,2013-10-31 15:16:39.609,89-00107,SrvAct,SERVICESW,"Pulsecounter:7968468 Action:""Free Comment"" ..."
1,2013-10-31 15:16:39.609,89-00199,SrvAct,SERVICESW,"Comment:Installed, camera added, CLX365 added,"
2,2013-11-01 10:29:37.828,89-02001,SrvAct,SERVICESW,"Pulsecounter:8673604 Action:""PMMA Test"" SN..."
3,2013-11-01 10:29:37.875,89-02099,SrvAct,SERVICESW,Comment:Passed
4,2014-02-26 15:49:46.281,89-00402,SrvAct,SERVICESW,"Pulsecounter:22933105 Action:""Beam splitter..."
...,...,...,...,...,...
126,2020-05-20 03:36:03.437,89-01399,SrvAct,SERVICESW,Comment:Andres Nino lacu beamsplitter exchanged
127,2020-05-20 03:36:13.796,89-01602,SrvAct,SERVICESW,"Pulsecounter:292013536 Action:""Microscope T..."
128,2020-05-20 03:36:13.796,89-01699,SrvAct,SERVICESW,Comment:Andres Nino tm3 exchanged
129,2020-05-20 03:51:53.968,89-00107,SrvAct,SERVICESW,"Pulsecounter:292133845 Action:""Free Comment..."
130,2020-05-20 03:51:53.968,89-00199,SrvAct,SERVICESW,Comment:Andres Nino Halogen gas filter change...

In [355]:
ultimo=df4.loc[df4["date"]<"2020"]

In [356]:
ultimo

,date,1,2,3,4
0,2013-10-31 15:16:39.609,89-00107,SrvAct,SERVICESW,"Pulsecounter:7968468 Action:""Free Comment"" ..."
1,2013-10-31 15:16:39.609,89-00199,SrvAct,SERVICESW,"Comment:Installed, camera added, CLX365 added,"
2,2013-11-01 10:29:37.828,89-02001,SrvAct,SERVICESW,"Pulsecounter:8673604 Action:""PMMA Test"" SN..."
3,2013-11-01 10:29:37.875,89-02099,SrvAct,SERVICESW,Comment:Passed
4,2014-02-26 15:49:46.281,89-00402,SrvAct,SERVICESW,"Pulsecounter:22933105 Action:""Beam splitter..."
...,...,...,...,...,...
100,2019-11-14 21:37:35.515,89-01999,SrvAct,SERVICESW,Comment:ANDRES NINO Application software upda...
101,2019-11-14 21:38:29.093,89-00107,SrvAct,SERVICESW,"Pulsecounter:280682811 Action:""Free Comment..."
102,2019-11-14 21:38:29.093,89-00199,SrvAct,SERVICESW,Comment:ANDRES NINO Joystick installed and ca...
103,2019-11-14 21:38:41.156,89-02001,SrvAct,SERVICESW,"Pulsecounter:280682811 Action:""PMMA Test"" ..."
104,2019-11-14 21:38:41.156,89-02099,SrvAct,SERVICESW,Comment:ANDRES NINO pmma ok

In [311]:
free_comment[]

,1,2,3,4
date,,,,
2013-10-31 15:16:39.609,89-00199,SrvAct,SERVICESW,"Comment:Installed, camera added, CLX365 added,"
2014-04-29 16:28:45.406,89-00199,SrvAct,SERVICESW,Comment:fluence calibration
2014-12-15 19:04:04.296,89-00199,SrvAct,SERVICESW,Comment:Smart Pulse software upgrade
2015-03-24 09:12:39.562,89-00199,SrvAct,SERVICESW,Comment:installed Vibration absorber for LACU...
2015-09-10 19:33:33.218,89-00199,SrvAct,SERVICESW,Comment:6d recalibrated
2015-10-08 19:46:30.609,89-00199,SrvAct,SERVICESW,Comment:OCP adjustment
2015-10-08 19:47:25.062,89-00199,SrvAct,SERVICESW,Comment:Laser gas tube preasure increace to 6000
2016-04-11 15:05:09.000,89-00199,SrvAct,SERVICESW,Comment:Reseated framegrabber. Moved SmartPul...
2016-11-07 17:43:16.062,89-00199,SrvAct,SERVICESW,Comment:Adjusted OCP to be coincident with cr...
2018-06-20 16:31:52.031,89-00199,SrvAct,SERVICESW,Comment:Daniel Colvin Installed new External ...
2018-10-15 11:15:48.796,89-00199,SrvAct,SERVICESW,Comment:andres nino patients bed remote contr...
2018-10-15 13:21:11.203,89-00199,SrvAct,SERVICESW,Comment:ANDRES NINO ENERGY ADJUSTED HIGH AND LOW
2018-12-17 08:44:16.453,89-00199,SrvAct,SERVICESW,Comment:andres nino 6d calibration
2019-05-01 17:15:04.546,89-00199,SrvAct,SERVICESW,Comment:ANDRES NINO NEW PATIENT BED MODULE IN...
2019-11-14 16:11:50.984,89-00199,SrvAct,SERVICESW,Comment:ANDRES NINO microscope detent ball ex...
2019-11-14 21:38:29.093,89-00199,SrvAct,SERVICESW,Comment:ANDRES NINO Joystick installed and ca...
2020-05-20 03:51:53.968,89-00199,SrvAct,SERVICESW,Comment:Andres Nino Halogen gas filter change...