## OPEN THE LOGFILE

In [1]:
#with this procedure i am opening a dialog box in order to grab the path of the file
from tkinter.filedialog import askopenfilename
import os

In [2]:
#this will be the FULL PATH of the zip file
filename = askopenfilename(filetypes =[("todos", "*.*")])

In [3]:
filename

'/home/andres/Documents/python_projects/schwind_logfile_reader/Log_R444_2020-05-20.zip'

In [4]:
#this is the file name WITHOUT the path
base=os.path.basename(filename)

In [5]:
base

'Log_R444_2020-05-20.zip'

## Extract all files from logfile zip file

In [6]:
#Import libraries to unzip the logfile
from zipfile import ZipFile

In [7]:
#the zip file will be in ZIP variable
zip=ZipFile(base)

In [8]:
#UNZIP the file
zip.extractall()

In [9]:
zip.close()

## Read all the files unziped

In [10]:
import os

In [11]:
files = os.listdir()

In [12]:
#list of all files in the directory
files

['SysConfigInfo',
 'ServiceActivity.log',
 'laser.slb',
 'CAMerrorLog.dat',
 '.ipynb_checkpoints',
 '2020-05-19__20-39-31.log',
 'ssw.slb',
 '.gitignore',
 '.git',
 'Mcu_boottime',
 'laser.cfg',
 'Mcu_logs',
 'logfile_separadores.py',
 'logfile_notebook.ipynb',
 'LogEx',
 'Hdspace',
 'Nozzle',
 'schwind_logfile_reader.py',
 '2020-05-20__04-55-56.log',
 'SpotAtLastDriftTest.bmp',
 'Log_R444_2020-05-20.zip',
 'Users',
 'CrdStatus',
 'README.md',
 'system.sys',
 'confs']

## Grabing the file name from the original logfile 
in this procedure we need to find the file.LOG with the right date.
the right day is always in the ORIGINAL name of the ZIP file taken from the Amaris System.
so, we are taking the number and we will find the file in the unziped list

In [16]:
#This is the filename without te extension
logfile_name=os.path.splitext(base)

In [17]:
logfilename=logfile_name[0]

In [18]:
logfilename

'Log_R444_2020-05-20'

In [19]:
# Import Regular expressions to find the pathern of the DATE
import re

In [20]:
#re.search("([0-9]{2}\-[0-9]{2}\-[0-9]{4})", fileName)
date_number = re.search("([0-9]{4}\-[0-9]{2}\-[0-9]{2})", logfilename)

In [21]:
date_number[0]

'2020-05-20'

In [22]:
# In this code i am looking in the list of unziped files and finding the right file
# with the LOG extension
file_to_open = next((s for s in files if date_number[0] in s),None)

In [23]:
file_to_open

'2020-05-20__04-55-56.log'

## Opening the file to analyse in PANDAS

In [24]:
import pandas as pd

In [25]:
import csv

In [26]:
logfile_csv = pd.read_csv(file_to_open, delimiter="|", header=None, names =[1,2,3,4,5,6], encoding="ISO-8859-1")

In [27]:
df = pd.DataFrame(logfile_csv)

In [28]:
df

,1,2,3,4,5,6
0,begin,NaN,NaN,NaN,NaN,NaN
1,2020-05-19__20-39-35.140,,,APP,START=APP-SESSION============================...,NaN
2,2020-05-19__20-39-47.421,2102-021,,APP,LOGIN Application Software Version:6.1.2117...,NaN
3,2020-05-19__20-39-47.421,,,APP,"LaserHz TrtLF,TrtHF,FtLF,FtHF: 1050,900,900,900",NaN
4,2020-05-19__20-39-50.640,,,APP,MCU is now online but still inside starting u...,NaN
...,...,...,...,...,...,...
5242,2020-05-20__04-54-28.671,,,APP,Pulsecounter:292496361,NaN
5243,2020-05-20__04-54-29.781,,,APP,#### Entering Mainmenu ######################...,NaN
5244,2020-05-20__04-55-38.515,,,APP,"Menu ""Functions""",NaN
5245,2020-05-20__04-55-39.609,,,APP,"Menu ""Export Logfiles""",NaN
5246,÷LV,NaN,NaN,NaN,NaN,NaN

In [29]:
# split date and hour in two new columns 

# new data frame with split value columns 
#new = data["Name"].str.split(" ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
#data["First Name"]= new[0] 
  
# making separate last name column from new data frame 
#data["Last Name"]= new[1] 

new = df[1].str.split("__", n = 1, expand = True)

In [30]:
#adding those two new columns in dataframe and strip blank spaces
df["date"]=new[0].str.strip()
df["hour"]=new[1].str.strip()

In [31]:
df

,1,2,3,4,5,6,date,hour
0,begin,NaN,NaN,NaN,NaN,NaN,begin,None
1,2020-05-19__20-39-35.140,,,APP,START=APP-SESSION============================...,NaN,2020-05-19,20-39-35.140
2,2020-05-19__20-39-47.421,2102-021,,APP,LOGIN Application Software Version:6.1.2117...,NaN,2020-05-19,20-39-47.421
3,2020-05-19__20-39-47.421,,,APP,"LaserHz TrtLF,TrtHF,FtLF,FtHF: 1050,900,900,900",NaN,2020-05-19,20-39-47.421
4,2020-05-19__20-39-50.640,,,APP,MCU is now online but still inside starting u...,NaN,2020-05-19,20-39-50.640
...,...,...,...,...,...,...,...,...
5242,2020-05-20__04-54-28.671,,,APP,Pulsecounter:292496361,NaN,2020-05-20,04-54-28.671
5243,2020-05-20__04-54-29.781,,,APP,#### Entering Mainmenu ######################...,NaN,2020-05-20,04-54-29.781
5244,2020-05-20__04-55-38.515,,,APP,"Menu ""Functions""",NaN,2020-05-20,04-55-38.515
5245,2020-05-20__04-55-39.609,,,APP,"Menu ""Export Logfiles""",NaN,2020-05-20,04-55-39.609
5246,÷LV,NaN,NaN,NaN,NaN,NaN,÷LV,None

## LAST FLUENCE

In [32]:
#code for fluence is 2116-042, so I looked the rows with this value on column 2
#df.loc[df['column_name'] == some_value]
#date_number is the date of the current logfile

last_fluence = df.loc[(df[2]=="2116-042")&(df["date"]>=date_number[0])]

In [33]:
last_fluence

,1,2,3,4,5,6,date,hour
4460,2020-05-20__03-39-18.421,2116-042,,APP,Fluence values: High Fluence: 654 Low Fluen...,NaN,2020-05-20,03-39-18.421
4531,2020-05-20__03-45-20.312,2116-042,,APP,Fluence values: High Fluence: 655 Low Fluen...,NaN,2020-05-20,03-45-20.312
4656,2020-05-20__04-03-12.562,2116-042,,APP,Fluence values: High Fluence: 649 Low Fluen...,NaN,2020-05-20,04-03-12.562

In [34]:
#the column 5 is where all the fluence values are.
last_fluence[5]

4460     Fluence values: High Fluence: 654   Low Fluen...
4531     Fluence values: High Fluence: 655   Low Fluen...
4656     Fluence values: High Fluence: 649   Low Fluen...
Name: 5, dtype: object

In [35]:
#In this step, I split the column 5 in order to have every value in its own column
values_last_fluence = last_fluence[5].str.split("   ", n = 0, expand = True)

In [36]:
#removing "Fluence values: " string from the column 0 - in order to clean the data
#removing strings before the values on each column
values_last_fluence[0] = values_last_fluence[0].str.replace("Fluence values: High Fluence: ","")
values_last_fluence[1] = values_last_fluence[1].str.replace("Low Fluence: ","")
values_last_fluence[2] = values_last_fluence[2].str.replace("HV: ", "")
values_last_fluence[3] = values_last_fluence[3].str.replace("NominalHF: ", "")
values_last_fluence[4] = values_last_fluence[4].str.replace("NominalLF: ", "")
values_last_fluence[5] = values_last_fluence[5].str.replace("E_preset_HI : ", "")
values_last_fluence[6] = values_last_fluence[6].str.replace("E_preset_LO : ", "")
values_last_fluence[7] = values_last_fluence[7].str.replace("HV_min:  ", "")
values_last_fluence[8] = values_last_fluence[8].str.replace("HV_max:  ", "")
values_last_fluence[9] = values_last_fluence[9].str.replace("LaserTemperature: ", "")

In [37]:
#rename the column name
values_last_fluence.columns=["High Fluence", "Low Fluence", "HV", "Nominal HF", "Nominal LF", "High Energy", "Low Energy", "HV min", "HV max", "Temp"]

In [38]:
#last fluence value
values_last_fluence.tail(1)

,High Fluence,Low Fluence,HV,Nominal HF,Nominal LF,High Energy,Low Energy,HV min,HV max,Temp
4656,649,582,843,673,558,290,280,801,860,39

## LAST PULSES AND TEMPERATURE

In [39]:
#I search for the string "  Temp.  ", where the value of the pulse is. 
#and with the "date" iqual or grater that the current date.

pulses_temp = df.loc[(df[2]=="  Temp. ")&(df["date"]>=date_number[0])]

In [40]:
#In this step, I split the column 5 in order to have every value in its own column
values_pulses_temp = pulses_temp[5].str.split("  ", n = 0, expand = True)

In [41]:
#removing values in order to clean the data
#rename each column to identify values

values_pulses_temp[1] = values_pulses_temp[1].str.replace("MCU CPU:","")
values_pulses_temp[2] = values_pulses_temp[2].str.replace("Mainboard:","")
values_pulses_temp[3] = values_pulses_temp[3].str.replace("Chipset:","")
values_pulses_temp[4] = values_pulses_temp[4].str.replace("LACU:","")
values_pulses_temp[5] = values_pulses_temp[5].str.replace("Humidity\%:","")
values_pulses_temp[6] = values_pulses_temp[6].str.replace("Pulsecounter:","")


values_pulses_temp.columns=["", "mcu_temp", "mainboard_temp", "chipset_temp", "lacu_temp", "humidity", "pulsecounter"]

In [42]:
#las values of temp humidity and pulsecounter
values_pulses_temp.tail(1)

,,mcu_temp,mainboard_temp,chipset_temp,lacu_temp,humidity,pulsecounter
4633,Temperature,0,0,0,18,53,292133845

## LASER SERIAL NUMBER

In [43]:
#Searching the string "2102-021" wich is the code where the laser serial number and software version is located
serial_version = df.loc[(df[2]=="2102-021")&(df["date"]>=date_number[0])]

In [44]:
#In this step, I split the column 5 in order to have every value in its own column
values_serial_version = serial_version[5].str.split("   ", n = 0, expand = True)

In [45]:
values_serial_version

,0,1,2,3
412,LOGIN Application Software,Version:6.1.2117.702,User:SETS,System Serial (ini):R444
4488,LOGIN Application Software,Version:6.1.2117.702,User:SETS,System Serial (ini):R444
4569,LOGIN Application Software,Version:6.1.2117.702,User:SETS,System Serial (ini):R444
4613,LOGIN Application Software,Version:6.1.2117.702,User:SETS,System Serial (ini):R444

In [46]:
#removing values in order to clean the data
#rename each column to identify values
values_serial_version[1] = values_serial_version[1].str.replace("Version:","")
values_serial_version[3] = values_serial_version[3].str.replace("System Serial \(ini\):","")
values_serial_version.columns=["", "version", "", "serial"]

In [47]:
values_serial_version.tail(1)

                                        version            serial
4613   LOGIN Application Software  6.1.2117.702  User:SETS   R444

## Gas Exchage

In [48]:
#searching for the string "2115-012" where gas exchange is located
gas = df.loc[(df[2]=="2115-012")&(df["date"]>=date_number[0])]

In [49]:
if (gas.empty):
    print("no hay dato")
else:
    print (gas)

no hay dato

# Opening a new data frame from lasercfg file

## Getting the laser serial number

In [57]:
# openning new file laser.cfg and transforming it to DATAFRAME df2
laser_cfg_file_to_open = "laser.cfg"
lasercfg_csv = pd.read_csv(laser_cfg_file_to_open, header=None)
df2=pd.DataFrame(lasercfg_csv)

In [58]:
# find the row with string SerialNumber in order to get the serial number
serial_number = df2[df2[0].str.contains("SerialNumber")]

In [62]:
serial = serial_number[0].str.split("=", n=0, expand = True)

In [68]:
serial = serial[1]

In [64]:
serial[1]

1    R444
Name: 1, dtype: object

In [117]:
lasercfg_df.loc[117]

0    NoOfRemainingGasExchangesApprox=33
Name: 117, dtype: object

In [113]:
date_number[0]

'2020-05-20'

In [120]:
df.loc[df["hour"]=="04-54-28.671"]

,1,2,3,4,5,6,date,hour
5242,2020-05-20__04-54-28.671,,,APP,Pulsecounter:292496361,NaN,2020-05-20,04-54-28.671

In [112]:
fluencia

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, date, hour]
Index: []

In [109]:
#row with fluence and last date
fluence_date = df.loc[(df[2]=="2116-042")&(df["hour"]=="03-45-20.312")]
#fluence_h = df.loc[df["hour"]=="03-45-20.312"]

In [110]:
fluence_date

,1,2,3,4,5,6,date,hour
4531,2020-05-20__03-45-20.312,2116-042,,APP,Fluence values: High Fluence: 655 Low Fluen...,NaN,2020-05-20,03-45-20.312